html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.account-input-box {
  display: flex;
  align-items: flex-end;
  width: 250px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #00BFFF !important;
  color: white !important;
}

.category-btn:hover span {
  color: white !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar {
  border: none;
  outline: none;
  width: 250px;
}

.category-btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.log-btn {
  position: absolute;
  bottom: 20px;
  transform: translateX(-10%);
}

.log-btn:hover span {
  color: white !important;
}

.logout-btn:hover {
  background-color: #FF0000 !important;
  color: white !important;
}

.login-btn:hover {
  background-color: #008000 !important;
  color: white !important;
}

.navbar-login-btn {
  margin: 5px 20px 10px 5px;
  border-radius: 20px;
}

.dialog-login-btn {
  font-weight: bold !important;
  font-size: 15px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  margin-top: 10px;
  margin-left: 5px;
  width: 255px;
  text-align: center;
  justify-content: center !important;
  background-color: #1E90FF;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 2px;
  border-color: aliceblue;
  border-style: solid;
  transition: all 0.3s ease;
}

.navbar_category_btn {
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  height: 67px !important;

  margin-top: -20px;
  margin-bottom: -20px;
  transition: all 0.3s ease;
}

.navbar_category_btn:hover {
  background-color: #0A75AD !important;
  color: white !important;
}

.navbar_category_btn:hover span {
  color: white !important;
}

.navbar_title {
  color: white;
  font-family: serif;
  font-size: large;
  margin: 0px 50px
}

.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;  /* Create a line */
  margin: 0 10px;  /* Space between the text and the line */
}

.line-with-text span {
  padding: 0 10px;  /* Space between text and the lines */
  font-size: 18px;
}

.google-btn {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: white;
  color: #555;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.google-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.google-icon {
  width: 20px;
  margin-right: 10px;
}

.signup-link {
  font-size: 14px;
  color: #333;
  line-height: 0.1;
}

.signup-link a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.signup-link a:hover {
  color: #0056b3;
}


@media screen and (max-width: 900px) {
  .category-btn {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .copyright {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar {
    width: 200px;
  }
}
